body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
     {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
  }

  .info-text{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 25px;
  }

  .logo {
      width: 100px;
      margin-left: 500px;
  }

  .col-lg-4 {
      margin-top: -70px;
      padding-bottom: 30px;
  }
  
  footer {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(1, 59, 1);
  }
  
  header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("../images/1.jpeg") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    
  }
  
  header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  
  header.masthead h1 {
    font-size: 2rem;
  }
  
  @media (min-width: 768px) {
    header.masthead {
      padding-top: 12rem;
      padding-bottom: 12rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  .showcase .showcase-text {
    padding: 3rem;
  }
  
  .showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
  }
  
  @media (min-width: 768px) {
    .showcase .showcase-text {
      padding: 7rem;
    }
  }
  
  /* .features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
  } */
  
  /* .features-icons .features-icons-item {
    max-width: 20rem;
  } */
  
  .features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
  }
  
  .features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
  }
  
  .features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
  }
  

  
 